<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form action="/category/addCategory" method="post" enctype="multipart/form-data">
      <input type="text" name="Ename" value="" placeholder="English name">
      <input type="text" name="Aname" value="" placeholder="Arabic name">
        <input type="file" name="img" >
        <input type="submit">
    </form>
  </body>
</html>
