<!--
    <div class="wrapper">
        <div class="sidebar">


            <div class="sidebar-wrapper" style="text-align: center">
                <div class="logo" style="text-align: center">
                    <a href="#" style="color: white;">

                       متجرى
                    </a>
                </div>

                <ul class="nav">
                    <li>
                        <a href="/">

                            <p>الرئيسية</p>
                        </a>
                    </li>
                    <li>
                        <a href="/webadmin/listAllCategories">

                            <p>الاقسام </p>
                        </a>
                    </li>
                    <li>
                        <a href="/webadmin/ListOfsubCategory">

                            <p>الاقسام الفرعيه </p>
                        </a>
                    </li>
                    <li>
                        <a href="/webadmin/allproducts">

                            <p>المنتجات </p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <p>العروض</p>
                        </a>
                    </li>



                </ul>
            </div>
        </div>

        <div class="main-panel">
            <div class=" head container-fluid">
                <div class="header">
                    <a href="/">الرئيسية</a>
                    <i class="fa fa-chevron-left"></i>
                    <span>الاقسام الرئيسية</span>


                </div>
            </div>

            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                    <a href="/webadmin/addCategory">اضافه قسم  </a>
                                    <a href="/webadmin/addSubCategory">اضافه قسم فرعى </a>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <input type="text" class="form-control" placeholder=" ...بحث">
                            </li>
                            <li class="separator hidden-lg hidden-md"></li>
                        </ul>
                    </div>
                </div>
            </nav> -->
            <div class="wrapper">
                <!-- Navigation -->
                <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header" style="float: right">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <h1 class="text-center">متجري</h1>
                        </a>
                    </div>
                    <!-- Top Menu Items -->




                    <ul class="nav navbar-left top-nav">
                        <li>
                            <a href="/webadmin/addCategory" class="btn btn-default">
                                اضافة قسم رئيسي
                            </a>
                        </li>

                    </ul>
                    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav side-nav">

                            <li>
                                <a href="/">
                                    الرئيسية

                                    <i class="fa fa-tachometer" aria-hidden="true"></i>

                                </a>
                            </li>

                            <li>
                                <a href="#" data-toggle="collapse" data-target="#submenu-2">
                                    <i class="fa fa-fw fa-angle-down pull-right"></i>
                                    الاقسام
                                </a>
                                <ul id="submenu-2" class="collapse">
                                    <li><a href="/webadmin/listAllCategories">الاقسام الرئيسية <i class="fa fa-angle-double-left"></i></a></li>
                                    <li><a href="/webadmin/ListOfsubCategory"> الاقسام الفرعية <i class="fa fa-angle-double-left"></i></a></li>
                                </ul>
                            </li>


                            <li>
                                <a href="/webadmin/allproducts">

                                    المنتجات

                                    <i class="fa fa-money" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="/webadmin/offers">
                                    العروض


                                    <i class="fa fa-gift" aria-hidden="true"></i>

                                </a>
                            </li>
                            <li>
                                <a href="/webadmin/vendors">

                                    الموردين

                                    <i class="fa fa-home" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
